/* src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d1117;
  color: white;
}

.header {
  text-align: center;
  margin-top: 20px;
}
strong{
  color: #9ec4fd;
}

.search-bar {
  margin: 20px auto;
  width: 50%;
}

.search-bar input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: #2e3a48;
  color: white;
  font-size: 16px;
}

.weather-card {
  background-color: #18202d;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 120px auto;
  width: 300px;
  height: auto;
  position: relative;
}

.weather-icon {
  position: absolute;
  top: -110px;
  left: 240px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* Adjust the blur and color as needed */
  border-radius: 50%; /* Optional: For circular icons, adjust as needed */
  margin-bottom: 10px;
}
